.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.pokemon-card{
  list-style: none;
  border: 1px solid gray;
  margin: 10px;
  border-radius: 15px;
}

ul.pokemon-card li {
  text-align: center;
  margin:0 auto;
}

.cards{
 padding-left: 5%;
}